body {
    font-family: "Palatino", Georgia, serif;
    color: #41381A;
    background: #669B90;
}

.egg {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    display: grid;
    align-items: center;
    position: absolute;
    border-style: solid;
    border-width: 4px;
    border-radius: 50% 60% 50% 50% / 70% 70% 40% 40%;
    background: #FFEFCA;
    border-color: #41381A;
    /*animation: wiggle_more 1s infinite;*/
}

.egg:hover {
    animation: none;
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(5deg);
    }
    85% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes wiggle_more {
    0% {
        transform: rotate(0deg);
    }
    33% {
        transform: rotate(10deg);
    }
    66% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-10deg);
    }
}
